<h1>Contact</h1>

<table>
    <tr>
        <td><i class="fa-solid fa-phone"></i></td>
        <td>+91 7757869131</td>
    </tr>
    <tr>
        <td><i class="fa-solid fa-envelope"></i></td>
        <td><a href="mailto:rohanankalkote@gmail.com">rohanankalkote&#64;gmail.com</a></td>
    </tr>
    <tr>
        <td><i class="fa-brands fa-linkedin-in"></i></td>
        <td><a href="https://www.linkedin.com/in/rohan-ankalkote">LinkedIn Profile</a></td>
    </tr>
    <tr>
        <td><i class="fa-solid fa-file"></i></td>
        <td><a href="Resume.pdf" download="Rohan-Ankalkote-Resume">Download Resume</a></td>
    </tr>
</table>