:host {
    display: block;
    padding: 1rem;
}

h1 {
    text-align: center;
}

table {
    margin: 2rem auto;
    border: 1px solid #757575;
    border-radius: 0.5rem;
    border-spacing: 0;
    padding: 0.5rem;

    tr {
        td {
            &:first-child {
                min-width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
        }
    }
}

.pc :host {  
    padding: 1rem 30rem;
}