table {
    margin: 2rem auto;
    border: 1px solid var(--on-surface-variant);;
    border-radius: 0.5rem;
    border-spacing: 0;
    padding: 0.5rem;

    tr {
        td {
            &:first-child {
                min-width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
        }
    }
}