<h1>Projects</h1>

<section>
    <h4>Personal Portfolio Website</h4>
    <h5>Developed using Angular technology. Using Github Actions for automatic deployment</h5>
    <h5><a href="https://www.iamrohan.in/">Visit Link</a></h5>
    <h4>Tech: <Span>Angular / Github Actions</Span></h4>
</section>

<section>
    <h4>Online E-Bidding platform to autction any product.</h4>
    <h5>Final Year Project developed for auctioning any product. Used google SMTP server to send email to the recepient.</h5>
    <h5><span>Published a paper for this project. Below is the link</span></h5>
    <h5><a href="https://ijarcce.com/papers/e-auction-website-using-blockchain-technology/">Visit Link</a></h5>
    <h4>Tech: <span>HTML, CSS, JS, PHP, MySql, Google SMTP Server</span></h4>
</section>