<h1>Rohan Ankalkote</h1>

<img src="MyImage.png" alt="Profile">

<div>
    <h4>SDE2 at <span>FIS Global</span></h4>
    <h4>Dotnet + Angular Developer</h4>
    <h4>3.5 Years of Experience</h4>
</div>

<div class="divider"></div>

<p>
    With over <span>3 years</span> of work experience, I have strong hold on core dotnet concepts. I have worked on <span>.NET Core</span> as well as <span>.NET Framework</span> for create REST based Web APIs. Did research work on migrating from old SOAP based application into new .NET Core based application. Worked on <span>Angular</span> based Single Page Web Application using <span>Angular Material</span> library. Also, have strong hold on <span>SQL Server</span> concurrency management and SQL Query optimization. I have also used <span>Entity Framework Core</span> as ORM to access database.
</p>