<card>
    <card-body>
        <h1>Rohan Ankalkote</h1>

        <img src="MyImage.png" alt="Profile">
        
        <div>
            <h4>SDE2 at <span>FIS Global</span></h4>
            <h4>Dotnet + Angular Developer</h4>
            <h4> {{getTotalYearsOfExperience()}} Years of Experience</h4>
        </div>
        
        <div class="divider"></div>
        
        <p>
            With over <span class="hll">3 years</span> of work experience, I have strong hold on core dotnet concepts. I have worked on <span class="hll">.NET Core</span> as well as <span class="hll">.NET Framework</span> for create REST based Web APIs. Did research work on migrating from old SOAP
            based application into new .NET Core based application. Worked on <span class="hll">Angular</span> based Single Page Web Application using <span class="hll">Angular Material</span> library. Also, have strong hold on <span class="hll">SQL Server</span> concurrency management and SQL Query
            optimization. I have also used <span class="hll">Entity Framework Core</span> as ORM to access database.
        </p>
    </card-body>
</card>