:host {
    display: block;
    padding: 1rem;
    background-color: #212121;
    color: white;
}

h1 {
    text-align: center;
}

section {
    border-radius: 0.5rem;
    border: 1px solid #757575;
    padding: 1rem;
    margin: 1rem;
}

.pc :host {
    padding: 1rem 30rem;

    & section {
        width: 50%;
        margin: 1rem auto;
    }
}