<card>
    <card-title>
        <h1>Education</h1>
    </card-title>

    <card-body>
        <section>
            <h4>BE - Computer Science</h4>
            <h5>Pune University</h5>
            <h5>2017 - 2021</h5>
            <h4>CGPA: <span>9.0</span></h4>
        </section>

        <section>
            <h4>HSC</h4>
            <h5>Pune University</h5>
            <h5>2015 - 2017</h5>
            <h4>Score: <span>77%</span></h4>
        </section>

        <section>
            <h4>SSC</h4>
            <h5>Pune University</h5>
            <h5>2015 - 2015</h5>
            <h4>Score: <span>92%</span></h4>
        </section>
    </card-body>
</card>