section {
    border-radius: 0.5rem;
    border: 1px solid var(--on-surface-variant);;
    padding: 1rem;
    margin: 1rem;
}

.pc :host {
    & section {
        width: 50%;
        margin: 1rem auto;
    }
}