body {
    font-family: Poppins;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

span {
    color: #EF6C00;
    font-weight: bold;
    font-style: italic;
}

.dark {
    display: block;
    background-color: #212121;
    color: white;
}

card {
    display: block;
    padding: 1rem;

    card-title {
        text-align: center;
    }
}

.pc {
    & card {
        display: block;
        width: 1000px;
        margin: 0 auto;
    }
}

// .hll {
//     color: #FFD700;
//     font-weight: bold;
//     font-style: italic;
// }