.light {
    --surface: #ffffff;
    --on-surface: #212121;
    --on-surface-variant: #757575;
    --accent: #ef6c00;

    display: block;
    background-color: var(--surface);
    color: var(--on-surface);
}

.dark {
    --surface: #212121;
    --on-surface: #ffffff;
    --on-surface-variant: #757575;
    --accent: #ef6c00;

    display: block;
    background-color: var(--surface);
    color: var(--on-surface);
}

body {
    font-family: Poppins;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

span {
    color: var(--accent);
    font-weight: bold;
    font-style: italic;
}

card {
    display: block;
    padding: 1rem;

    card-title {
        text-align: center;
    }
}

.pc {
    & card {
        display: block;
        width: 1000px;
        margin: 0 auto;
    }
}